*{
    text-decoration: none;
}

body{
    width: 100%;
    background-image: url(./images/codingimage2.avif);
   animation:move 30s ease-in-out infinite;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   animation-delay: 4s;
   /* animation-direction: alternate-reverse; */
   /* transition: 2s linear; */
   /* opacity: 0.95; */
}

@keyframes move{
    0%{
background-image: url(./images/code1.webp);
    }
    50%{
        background-image: url(./images/code2.webp);
    }
    100%{
        background-image: url(./images/code3.avif);
    }
}
a{
    text-decoration: none;
}
.contain{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
button{
    border: none;
    border-radius: 5px;
}

form div{
    position: relative;
}
input{
    height: 50px;
    cursor: text;
}
label{
    color: rgb(9, 9, 72);
    color: gray;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 13px;
    /* font-family: 'Roboto', sans-serif; */
    position: absolute;
    left: 5px;
    top: 17px;
    transition: 0.3s ;
    cursor: text;
    pointer-events: none;
}

input:focus+label, input:valid+label{
    top: 0px;
    left: 10px;
}

input:focus{
    box-shadow: none !important;
}

.card{
    /* width: 50%; */
    width: 700px;
    border-radius: 20px;
}
.great{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(9, 9, 72);
}
.account{
    font-weight: 600;
    font-size: 20px;
    color: rgb(9, 9, 72);
}
.kindly{
    color: rgb(9, 9, 72);
}
button a{
    text-decoration: none;
    color: white;
}
.reg{
    display: flex;
    justify-content: space-evenly;
}